.review-container{
    width: 50%;
    margin: auto;
}

.review-heading{
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
}

.review-heading>p{
    margin: 0px;
    font-size: 35px;
    font-weight: 600;
}

.print-icon{
    margin-top: 17px;
}

.review-para{
    font-weight: 600;
    font-size: 16px;
    margin: 0px;
    margin-top: 20px;
}

.review-details{
    background-color: white;
    border: 1px solid white;
    margin-top: 30px;
    border-radius: 5px;
}

.review-details>p{
    margin: 43px;
    margin-left: 40px;
    font-size: 22px;
    font-weight: 500;
}

.review-transfer-details{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.review-transfer-details>p{
    margin: 0px;
    margin-left: 40px;
    font-size: 16px;
    font-weight: 700;
    color: grey;
    /* margin-top: 0px; */
}

.review-transfer-details>h5{
    margin: 0px;
    margin-right: 40px;
    font-weight: 700;
    font-size: 16px;
}

.review-total{
    margin-top: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 40px;
    background: black;
}

.review-total>p{
    margin: 0px;
    font-size: 16px;
    font-weight: 700;
}

.edit-button{
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}

.edit-button>button{
    background: none;
    border: none;
    color: blueviolet;
    font-weight: 600;
    font-size: 15px;
}

.review-sender{
    background-color: white;
    border: 1px solid white;
    margin-top: 30px;
    border-radius: 5px;
   
    padding: 35px 40px;
}

.review-sender1{
    display: flex;
    justify-content: space-between;
}

.review-sender-div{
    display: flex;
    align-items: center;
}

.review-sender-div2{
    margin-left: 25px;
}

.review-sender-div2>p{
    margin: 0px;
    font-size: 16px;
    font-weight: 700;
    color: grey;
}

.review-sender-div2>h5{
    margin: 0px;
    font-weight: 700;
    font-size: 16px;
}

.review-para-1{
    margin-top: 25px;
}

.review-para-1>p{
    margin: 0px;
    font-size: 17px;
    font-weight: 600;
}

.review-para-2{
    margin-top: 45px;
}

.review-para-2>p{
    margin: 0px;
    font-size: 15px;
    font-weight: 600;
    color: grey;
}

.review-para-3{
    margin-top: 10px;
}

.review-para-3>p{
    margin: 0px;
    font-size: 17px;
    font-weight: 600;
}

.review-para-buttons{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.review-para-buttons>button{
    padding: 13px;
    border-radius: 25px;
    width: 49%;
    font-size: 17px;
    font-weight: 600;
}

.review-send-button{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}

.review-send-button>button{
    width: 100%;
    cursor: pointer;
    background-color: #FFF200;
    border: 1px solid #FFF200;
    border-radius: 30px;
    color: black;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
}

.legal-terms{
    margin-top: 100px;
}

.legal-terms-button{
    display: flex;
    justify-content: center;
    
}
.legal-terms-button>button{
    background-color: #255E80;
    color: white;
    border-radius: 50%;
    border: 1px solid #255E80;
}

.legal-terms-button>p{
    margin: 0px;
    color:#255E80;
    font-weight: 500;
    margin-left: 8px;
}
.legal-terms-list{
    margin-top: 30px;
}

.legal-terms-list>p{
    margin: 0px;
    font-size: 15px;
    font-weight: 600;
    color: grey;
}

.legal-terms-list>ol>li{
    margin: 0px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 600;
    color: grey;
}

.legal-terms-para-1{
    margin: 0px;
    margin-top: 30px;
    font-size: 15px;
    font-weight: 600;
    color: blueviolet;
}

.legal-terms-para-2{
    display: flex;
    justify-content: center;
    margin: 40px 0px;
    font-size: 15px;
    font-weight: 600;
    color: grey;
}

@media screen and (max-width:900px){
    .review-details>p{
        margin: 30px;
        margin-left: 30px;
        font-size: 20px;
    }  
    .print-icon{
        margin-top: 10px;
    }
    .review-heading>p{
        font-size: 30px;
    }
.review-para{
    font-size: 14px;
    margin-top: 20px;
}
    .review-transfer-details>p{
        margin-left: 20px;
        font-size: 14px;
    }

    .review-transfer-details>h5{
        margin-right: 20px;
        font-size: 14px;
    }
    .review-total{
        padding: 5px 20px;
    }
    
    .review-total>p{
        font-size: 14px;
    }
}

@media screen and (max-width:700px){
    .review-details>p{
        margin: 20px;
        margin-left: 20px;
        font-size: 19px;
    }  
    .review-heading>p{
        font-size: 25px;
    }
    .print-icon{
        margin-top: 7px;
    }
    .review-para-buttons>button{
        padding: 7px;
        font-size: 13px;
    }
    .review-transfer-details>p{
        margin-left: 5px;
        font-size: 14px;
    }

    .review-transfer-details>h5{
        margin-right: 5px;
        font-size: 14px;
    }
    .review-total{
        padding: 3px 5px;
    }
    .review-sender{
        padding: 15px 20px;
    }
    .review-sender-div2>p{
        margin: 0px;
        font-size: 14px;
    }
    
    .review-sender-div2>h5{
        font-size: 14px;
    }
}

@media screen and (max-width:500px){
    .review-container{
        width: 98%;
        margin: auto;
    }
}



