/* *{
    border-radius: 0px;
    box-shadow: 0px;
}
.card{
    
}

.icon{
  
    width: 50px;
    margin: auto;
} */

.tick-symbol{
    visibility: visible;
}

@media screen and (max-width: 600px){
    
    
}