.receiver-container{
    width: 50%;
    margin: auto;
}

.upper-section{
    display: flex;
}

.receiver-heading{
    font-size: 35px;
    font-weight: 600;
}

.receiver-paragraph{
    width: 100%;
    margin: 0px;
    background-color: #21ffff;
    height: 80px;
    margin-top: 65px;
    border: 1px solid #21ffff;
    border-radius: 5px;
}

.receiver-paragraph>p{
    width: 90%;
    margin: 0px;
    margin-left: 10px;
    margin-top: 7px;
    font-size: 20px;
    font-weight: 500;
}

.receiver-form{
    margin-top: 20px;
    width: 100%;
}

/* .first-name{
    font-size: 18px;
    color: rgb(146, 144, 144);
} */

.first-name>input{
    margin-top: 65px;
}

.first-name>input::placeholder,.email>input::placeholder,.city-name>input::placeholder,.state-search>input::placeholder,.middleName>input::placeholder{
    font-size: 20px;
    font-weight: 500;
}

/* .check-box{
    display: flex;
} */

.middle-name{
    margin-top: 35px;
}

.middle-name>label{
    color: black;
    font-size: 17px;
    font-weight: 600;
}


.middle-name>label>input{
    color: black;
  width: 3%;
}

.email,.middleName{
    margin-top: 60px;
}

.country-mobile{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    width: 100%;
}

.code-result{
    position: relative;
    width: 50%;
    /* border-bottom: 2px solid rgb(223, 221, 221); */
}

.country-code-search{
    display: flex;
    /* border-bottom:  2px solid rgb(223, 221, 221); */
}

.country-code-search>input{
    border: none;
}


.result{
    padding: 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    max-height: 200px;
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.result:active{
    border: 1px solid black;
}



.result2{
 border: 1px solid #ccc;
    border-top: none;
    box-shadow: 0px 0px 5px;
}

.result-list{
    display: flex;
    cursor: pointer;
}

.result-list:hover{
    background-color: rgb(223, 221, 221);
}



.result-list>p{
    font-weight: 500;
    font-size: 15px;
    margin-left: 10px;
}

.mobile-number{
    width: 45%;
    margin-top: 7px;
}

.mobile-number>input::placeholder{
    font-size: 18px;
    color: rgb(146, 144, 144);
}



.city-name{
    margin-top: 60px;
}

.state{
    margin-top: 60px;
    /* position: relative;
    z-index: -5; */
}

.state-result{
    position: relative;
    border-bottom: 2px solid rgb(223, 221, 221);
}

.state-search{
    display: flex;
}

.state-search>input{
    border: none;
}

.button-receiver{
    display: flex;
    justify-content: center;
    margin-top: 75px;
    margin-bottom: 40px;
}

.button-receiver>button{
    cursor: pointer;
    background-color: #FFF200;
    border: 1px solid #FFF200;
    border-radius: 30px;
    color: black;
    width: 80%;
    padding: 15px;
    font-weight: 600;
    font-size: 18px;
}

@media screen and (max-width:1100px) {
    .receiver-heading{
        font-size: 33px;
        font-weight: 600;
    }
    
    .receiver-paragraph{
        width: 100%;
        margin: 0px;
        background-color: #21ffff;
        height: 75px;
        margin-top: 50px;
        border: 1px solid #21ffff;
        border-radius: 5px;
    }
    
    .receiver-paragraph>p{
        width: 90%;
        margin: 0px;
        margin-left: 10px;
        margin-top: 5px;
        font-size: 17px;
        font-weight: 500;
    }

    .receiver-form{
        margin-top: 10px;
        width: 100%;
    }
    
}

@media screen and (max-width:900px){
    .receiver-heading{
        font-size: 30px;
        font-weight: 600;
    }
    
    .receiver-paragraph{
        width: 100%;
        margin: 0px;
        background-color: #21ffff;
        height: 75px;
        margin-top: 40px;
        border: 1px solid #21ffff;
        border-radius: 5px;
    }
    
    .receiver-paragraph>p{
        width: 90%;
        margin: 0px;
        margin-left: 10px;
        margin-top: 5px;
        font-size: 16px;
        font-weight: 500;
    }

    .receiver-form{
        margin-top: 0px;
        width: 100%;
    }
}

@media screen and (max-width:700px){
    .receiver-heading{
        font-size: 25px;
        font-weight: 600;
    }
    
    .receiver-paragraph{
        width: 100%;
        margin: 0px;
        background-color: #21ffff;
        height: 105px;
        margin-top: 30px;
        border: 1px solid #21ffff;
        border-radius: 5px;
    }
    
    .receiver-paragraph>p{
        width: 90%;
        margin: 0px;
        margin-left: 10px;
        margin-top: 5px;
        font-size: 15px;
        font-weight: 500;
    }

    .receiver-form{
        margin-top: 0px;
        width: 100%;
    }

    .middle-name>label{
        color: black;
        font-size: 15px;
        font-weight: 600;
    }

    .email,.middle-name{
        margin-top: 50px;
    }

    .country-mobile{
        display: flex;
        margin-top: 40px;
       flex-direction: column;
        width: 100%;
    }

    .code-result{
        position: relative;
        width: 100%;
        /* border-bottom: 2px solid rgb(223, 221, 221); */
    }

    .mobile-number{
        width: 100%;
        margin-top: 45px;
    }

    .first-name>input::placeholder,.email>input::placeholder,.city-name>input::placeholder,.state-search>input::placeholder,.middleName>input::placeholder{
        font-size: 16px;
        font-weight: 500;
    }

    .mobile-number>input::placeholder{
        font-size: 16px;
        color: rgb(146, 144, 144);
    }

    .button-receiver{
        display: flex;
        justify-content: center;
        margin-top: 60px;
        margin-bottom: 40px;
    }
    
    .button-receiver>button{
        cursor: pointer;
        background-color: #FFF200;
        border: 1px solid #FFF200;
        border-radius: 30px;
        color: black;
        width: 65%;
        padding: 10px;
        font-weight: 600;
        font-size: 16px;
    }
}

@media screen and (max-width:700px){
    .receiver-heading{
        font-size: 22px;
        font-weight: 600;
    }
    .receiver-paragraph{
        height: 120px;
    }

    .receiver-paragraph>p{
        font-size: 14px;
    }

    .button-receiver>button{
        cursor: pointer;
        background-color: #FFF200;
        border: 1px solid #FFF200;
        border-radius: 30px;
        color: black;
        width: 75%;
        padding: 7px;
        font-weight: 600;
        font-size: 13px;
    }

}


