.navbar{
    display: flex;
    justify-content: space-between;
    background-color: black;
    width: 100%;
    height: 100px;
}

.logo{
    width: 300px;
    padding: 20px;
}

.navbar-div>ul{
    /* color: white; */
    display: flex;
    /* margin-right: 50px; */
}

.navbar-div>ul>li{
    
    list-style-type: none;
}

.navbar-div>ul>li>a{
    display: block;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .navbar{
        
    }
    
}