.personal-info{
    margin-top: 40px;
    font-size: 24px;
    font-weight: 600;
}

.personal-paragraph{
    margin: 0px;
    background-color: #21ffff;
    height: 70px;
    margin-top: -5px;
    border: 1px solid #21ffff;
    border-radius: 5px;
}

.personal-paragraph>p,span{
    margin: 0px;
    margin-left: 10px;
    margin-top: 7px;
    font-size: 20px;
    font-weight: 500;
}

/* .personal-paragraph>span{
    margin: 0px;
    margin-left: 10px;
    margin-top: 7px;
    font-size: 20px;
    font-weight: 500;
} */

.personal-form{
    margin-top: 15px;
}

.first-name-2>input,.address-fields>input,.country-phone>input{
    margin-top: 65px;
}

.dob>input{
    margin-top: 50px;
}

.first-name-2>input::placeholder,.address-fields>input::placeholder,.dob>input::placeholder,.country-phone>input::placeholder{
    font-size: 20px;
    font-weight: 500;
}

/* .address-fields>input{
    margin-top: ;
} */

.address-heading{
    font-size: 25px;
    font-weight: 600;
    margin-top: 42px;
    margin-bottom: -25px;
}

.country-phone{
    display: flex;
    justify-content: space-between;
}

.country-phone-code{
    width: 40%;
}

.country-phone-number{
    width: 55%;
}

